body {
  /*Background color for entire page*/
  background-color: GhostWhite;
}

.topdiv {
  /*Styling the top "header" for my page*/
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: RoyalBlue;
  border-width: 1px;
  padding-left: 5px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.cleardiv {
  /*A simple div*/
  font-family: Verdana, Geneva, sans-serif;
}

.boxdiv {
  /*A blue box with rounded corners div*/
  color: black;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-color: black;
  margin: 0px 2px 15px 2px;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

img {
  width: 30em;
  border: solid;
  border-width: 1px;
  border-color: GhostWhite;
}

li {
  font-size: 1em;
  margin: 1em 0;
}

table {
  /*puts table in the center of the page*/
  margin: auto;
}